
.jumbo-style {
    background-color: #1f3257;
    color: #ffffff;
}

.panel-style {
    border: 1px solid #2b3e4e;
}

.panel-header-style {
    background-color: #2b3e4e;
    color: #ffffff;
}

.label-style {
    padding: 2px 8px;
    background-color: #2b3e4e;
    color: #ffffff;
    border-radius: 10%;
}
